body {
    display: flex;
    justify-content: center;
}

.app {
    margin: 50px;
}

.serach {
    padding: 10px;
    font-size: 20px;
}

.list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.list-item {
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
}